.container {
    height: 100vh;
    flex-direction: column;

}


.warning {
    color: red;
    margin-bottom: 0px !important;
}


.textos {

}

.textos h2,
.textos h4{    
    font-size: 2.5rem;
    
}

